[Unit]
Description = Plex Media Player
After = network-online.target remote-fs.target systemd-user-sessions.service

[Service]
User = plex-media-player
Group = plex-media-player
PAMName = login
Type = simple
ExecStart = /usr/bin/xinit /usr/bin/plexmediaplayer --tv --no-updates -- -nocursor :0 -nolisten tcp -s off
Restart = always
 
[Install]
WantedBy = multi-user.target
